awscli==1.14.53
boto3==1.6.5
botocore==1.9.6
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.7
docutils==0.14
elasticsearch==6.2.0
idna==2.6
jmespath==0.9.3
lambda-uploader==1.2.0
pyasn1==0.4.2
python-dateutil==2.6.1
requests==2.20.0
PyYAML==5.4
requests-aws4auth==0.9
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
timecode==1.2.0
urllib3==1.24.2
virtualenv==15.1.0
xmltodict==0.11.0
